@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic Styles Start */
html,body{
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: #fcf0eb 
}

.App{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 2vh 0;
    background: #fcf0eb 
}

.Dashboard{
    height: auto;
    width: 94vw;
    background: white;
    border-radius: 40px;
    display: grid;
    grid-template-columns: 200px auto
}
/* Basic Styles Ends */


/* Sidebar Styles Starts */
.Sidebar{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 40px;
    position: sticky;
    top: 40px;
    height: 100vh;
}
.Sidebar .logo{
    font-size: 2rem;
}
.sidebar-item-container{
    width: 100%;
    padding-top: 50px;
}
.sidebar-item{
    display: flex;
    align-items: center;
    width: inherit;
    padding: 0;
    margin: 10px 0;
    text-decoration: none;
    color: black;
}
.sidebar-item-icon-container{
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 50px;
    margin-right: 20px;
    border-radius: 0 20px 20px 0;
}
.sidebar-item-link{
    font-weight: 500;
    font-size: 10px;
}
.sidebar-item.active .sidebar-item-icon-container{
    background: #fcf0eb;
}
.sidebar-item:hover .sidebar-item-icon-container{
    background: #fcf0eb;
}
.sidebar-item.active {    
    color: #c94c43;
}
.sidebar-item:hover {
    color: #c94c43;
}
.logoutBtn{
    position: absolute;
    bottom: 10vh;
    padding-left: 50px;

}
/* Sidebar Styles End */

/* Navbar Starts */

.Navbar{
    width: calc(90vw - 160px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px 20px;
    text-align: center;
}
.inputBox{
    display: flex;
    align-items: center;
    background-color: #f8f6f7;
    border-radius: 20px;
    padding-left: 20px;
}
.inputBox input{
    background: transparent;
    border: 0; 
    padding: 15px 20px;
}
.inputBox input:focus{
    outline: 0;
    border: 0;
}
.userControls{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.avatar{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: url('../avatars/a5.png');
    background-position: center center;
    background-size: cover;
    margin-left: 20px;
}
/* Navbar Ends */


/* Main Content Container */
.content-container{
    display: grid;
    grid-template-columns: 60% 40%;
    font-family: 'Poppins', sans-serif;
}

.content-container h2{
    color: rgba(0,0,0,.7);
}

.dynamic-content{
    padding: 0 40px;
}
.dynamic-content h2{
    margin: 0;
}
.dynamic-content .subtitle-links{
    display: flex;
}
.dynamic-content .subtitle-links > div{
    padding: 0 20px 10px 0;
    color: rgba(0,0,0,.5);
    cursor: pointer;
}
.dynamic-content .subtitle-links > div:hover{
    color: rgba(0,0,0,1)
}
.dynamic-content .subtitle-links > div.active{
    color: rgba(0,0,0,1)
}
.stories-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}
.story{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.story img{
    width: 100%;
    object-fit: cover;
    -webkit-box-reflect: below -5px linear-gradient(to bottom, rgba(0,0,0,0.0) 80%, rgba(0,0,0,0.2));
    box-shadow: 0 5px 10px 0 #c095bc6c;
    border-radius: 10%;
}
.story h3{
    margin-top: 20px;
    color: rgba(0,0,0,.7)
}

.transaction-stats{
    padding: 0 40px 0 0;
}
.subtitle-text{
    color: rgba(0,0,0,.5);
    padding-bottom: 10px;
}
.responsive-img {
    width: 100%;
    height: auto;
}
.stats-data-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.stats-data-container .stat{
    text-align: center
}
.stats-data-container .stat .subtitle-text{
    padding: 0;
    margin-top: -7px;
    font-size: 10px;
}


/* Main Content Container ends */